@font-face {
	font-family: pill-gothic-300mg;
	src: url(https://use.typekit.net/af/5c6860/000000000000000000010017/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/5c6860/000000000000000000010017/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
			format('woff'),
		url(https://use.typekit.net/af/5c6860/000000000000000000010017/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
			format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: pill-gothic-300mg;
	src: url(https://use.typekit.net/af/677157/000000000000000000010019/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/677157/000000000000000000010019/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('woff'),
		url(https://use.typekit.net/af/677157/000000000000000000010019/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: pill-gothic-600mg;
	src: url(https://use.typekit.net/af/5f0064/00000000000000000000e6e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/5f0064/00000000000000000000e6e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
			format('woff'),
		url(https://use.typekit.net/af/5f0064/00000000000000000000e6e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
			format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: pill-gothic-600mg;
	src: url(https://use.typekit.net/af/eedf4b/00000000000000000000e6e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/eedf4b/00000000000000000000e6e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('woff'),
		url(https://use.typekit.net/af/eedf4b/00000000000000000000e6e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: ff-basic-gothic-web-pro;
	src: url(https://use.typekit.net/af/1c66ce/000000000000000000015ae8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/1c66ce/000000000000000000015ae8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('woff'),
		url(https://use.typekit.net/af/1c66ce/000000000000000000015ae8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
			format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: ff-basic-gothic-web-pro;
	src: url(https://use.typekit.net/af/1bc7ed/000000000000000000015ae9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/1bc7ed/000000000000000000015ae9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
			format('woff'),
		url(https://use.typekit.net/af/1bc7ed/000000000000000000015ae9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3)
			format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: auto;
}
@font-face {
	font-family: ff-basic-gothic-web-pro;
	src: url(https://use.typekit.net/af/69b33a/000000000000000000015af1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/69b33a/000000000000000000015af1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3)
			format('woff'),
		url(https://use.typekit.net/af/69b33a/000000000000000000015af1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3)
			format('opentype');
	font-weight: 200;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: ff-basic-gothic-web-pro;
	src: url(https://use.typekit.net/af/40f1ea/000000000000000000015af2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3)
			format('woff2'),
		url(https://use.typekit.net/af/40f1ea/000000000000000000015af2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3)
			format('woff'),
		url(https://use.typekit.net/af/40f1ea/000000000000000000015af2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3)
			format('opentype');
	font-weight: 200;
	font-style: italic;
	font-display: auto;
}
:root {
	--black: #000;
	--red: #f15e5b;
	--blue: blue;
	--lightBlue: #6da8ff;
	--purple: #ba50c1;
	--yellow: #ffc800;
	--purple: #6b00ff;
	--aqua: #58c2bb;
	--violet: #9487a6;
	--pink: #ef549e;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 12px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
@-ms-viewport {
	width: device-width;
}
body {
	margin: 0;
	padding: 0;
	font-family: pill-gothic-300mg, sans-serif;
	font-weight: 400;
	font-style: normal;
}
:focus {
	outline: -webkit-focus-ring-color auto 0px;
}
img {
	vertical-align: middle;
	border-style: none;
}
button:focus {
	outline: 0 dotted;
	outline: 0 auto -webkit-focus-ring-color;
}
table {
	border-collapse: collapse;
}
svg:not(:root) {
	overflow: hidden;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
a:focus,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
	outline: 0;
}
h1 {
	font-size: 2.9rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 1.9rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 0.9rem;
}
h6 {
	font-size: 0.4rem;
}
.ccd-container {
	max-width: 1250px;
	margin: auto;
	padding: 0 1rem;
}
.ccd-container.ccd-sidebar {
	width: calc(100% - 55px);
	max-width: calc(100% - 55px) !important;
	margin: 0 1px 0px 55px !important;
	padding: 0 2rem !important;
}
.ccd-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex: auto;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-1 {
	width: 8.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-1-np {
	width: 8.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-2 {
	width: 16.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-2-np {
	width: 16.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-3 {
	width: 25%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-3-np {
	width: 25%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-4 {
	width: 33.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-4-np {
	width: 33.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-5 {
	width: 41.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-5-np {
	width: 41.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-6 {
	width: 50%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-6-np {
	width: 50%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-7 {
	width: 58.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-7-np {
	width: 58.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-8 {
	width: 66.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-8-np {
	width: 66.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-9 {
	width: 75%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-9-np {
	width: 75%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-10 {
	width: 83.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-10-np {
	width: 83.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-11 {
	width: 91.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-11-np {
	width: 91.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-row .ccd-col-12 {
	width: 100%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-row .ccd-col-12-np {
	width: 100%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-col-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: auto;
	width: auto;
	max-width: none;
	padding-right: 1rem;
	padding-left: 1rem;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-col-auto-np {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: auto;
	width: auto;
	max-width: none;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.ccd-col-1 {
	width: 8.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-1-np {
	width: 8.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-2 {
	width: 16.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-2-np {
	width: 16.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-3 {
	width: 25%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-3-np {
	width: 25%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-4 {
	width: 33.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-4-np {
	width: 33.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-5 {
	width: 41.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-5-np {
	width: 41.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-6 {
	width: 50%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-6-np {
	width: 50%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-7 {
	width: 58.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-7-np {
	width: 58.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-8 {
	width: 66.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-8-np {
	width: 66.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-9 {
	width: 75%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-9-np {
	width: 75%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-10 {
	width: 83.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-10-np {
	width: 83.33333%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-11 {
	width: 91.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-11-np {
	width: 91.66667%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
.ccd-col-12 {
	width: 100%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
	padding-right: 1rem;
	padding-left: 1rem;
}
.ccd-col-12-np {
	width: 100%;
	height: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	-webkit-margin-start: -1.5px;
	-webkit-margin-end: -1.5px;
}
@media screen and (max-width: 1900px) {
	.ccd-row .ccd-col-1-xl-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-1-xl {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-2-xl-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-2-xl {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-3-xl-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-3-xl {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-4-xl-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-4-xl {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-5-xl-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-5-xl {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-6-xl-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-6-xl {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-7-xl-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-7-xl {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-8-xl-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-8-xl {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-9-xl-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-9-xl {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-10-xl-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-10-xl {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-11-xl-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-11-xl {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-12-xl-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-12-xl {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-1-xl-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-1-xl {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-2-xl-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-2-xl {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-3-xl-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-3-xl {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-4-xl-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-4-xl {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-5-xl-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-5-xl {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-6-xl-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-6-xl {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-7-xl-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-7-xl {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-8-xl-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-8-xl {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-9-xl-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-9-xl {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-10-xl-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-10-xl {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-11-xl-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-11-xl {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-12-xl-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-12-xl {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
@media screen and (max-width: 992px) {
	.ccd-row .ccd-col-1-lg-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-1-lg {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-2-lg-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-2-lg {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-3-lg-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-3-lg {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-4-lg-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-4-lg {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-5-lg-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-5-lg {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-6-lg-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-6-lg {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-7-lg-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-7-lg {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-8-lg-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-8-lg {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-9-lg-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-9-lg {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-10-lg-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-10-lg {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-11-lg-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-11-lg {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-12-lg-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-12-lg {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-1-lg-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-1-lg {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-2-lg-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-2-lg {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-3-lg-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-3-lg {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-4-lg-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-4-lg {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-5-lg-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-5-lg {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-6-lg-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-6-lg {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-7-lg-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-7-lg {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-8-lg-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-8-lg {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-9-lg-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-9-lg {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-10-lg-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-10-lg {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-11-lg-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-11-lg {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-12-lg-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-12-lg {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
@media screen and (max-width: 768px) {
	.ccd-row .ccd-col-1-md-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-1-md {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-2-md-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-2-md {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-3-md-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-3-md {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-4-md-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-4-md {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-5-md-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-5-md {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-6-md-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-6-md {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-7-md-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-7-md {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-8-md-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-8-md {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-9-md-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-9-md {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-10-md-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-10-md {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-11-md-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-11-md {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-12-md-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-12-md {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-1-md-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-1-md {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-2-md-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-2-md {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-3-md-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-3-md {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-4-md-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-4-md {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-5-md-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-5-md {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-6-md-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-6-md {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-7-md-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-7-md {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-8-md-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-8-md {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-9-md-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-9-md {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-10-md-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-10-md {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-11-md-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-11-md {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-12-md-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-12-md {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
@media screen and (max-width: 576px) {
	.ccd-row .ccd-col-1-sm-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-1-sm {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-2-sm-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-2-sm {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-3-sm-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-3-sm {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-4-sm-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-4-sm {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-5-sm-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-5-sm {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-6-sm-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-6-sm {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-7-sm-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-7-sm {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-8-sm-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-8-sm {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-9-sm-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-9-sm {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-10-sm-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-10-sm {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-11-sm-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-11-sm {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-12-sm-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-12-sm {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-1-sm-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-1-sm {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-2-sm-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-2-sm {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-3-sm-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-3-sm {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-4-sm-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-4-sm {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-5-sm-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-5-sm {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-6-sm-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-6-sm {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-7-sm-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-7-sm {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-8-sm-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-8-sm {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-9-sm-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-9-sm {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-10-sm-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-10-sm {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-11-sm-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-11-sm {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-12-sm-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-12-sm {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
@media screen and (max-width: 320px) {
	.ccd-row .ccd-col-1-xs-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-1-xs {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-2-xs-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-2-xs {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-3-xs-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-3-xs {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-4-xs-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-4-xs {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-5-xs-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-5-xs {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-6-xs-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-6-xs {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-7-xs-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-7-xs {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-8-xs-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-8-xs {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-9-xs-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-9-xs {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-10-xs-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-10-xs {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-11-xs-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-11-xs {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-row .ccd-col-12-xs-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
	.ccd-row .ccd-col-12-xs {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-1-xs-np {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-1-xs {
		width: 8.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-2-xs-np {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-2-xs {
		width: 16.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-3-xs-np {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-3-xs {
		width: 25% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-4-xs-np {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-4-xs {
		width: 33.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-5-xs-np {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-5-xs {
		width: 41.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-6-xs-np {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-6-xs {
		width: 50% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-7-xs-np {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-7-xs {
		width: 58.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-8-xs-np {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-8-xs {
		width: 66.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-9-xs-np {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-9-xs {
		width: 75% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-10-xs-np {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-10-xs {
		width: 83.33333% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-11-xs-np {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-11-xs {
		width: 91.66667% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.ccd-col-12-xs-np {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
	}
	.ccd-col-12-xs {
		width: 100% !important;
		height: auto;
		position: relative;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		-webkit-margin-start: -1.5px;
		-webkit-margin-end: -1.5px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
.ccd-header {
	display: flex;
	justify-content: center;
	flex-flow: column;
	position: relative;
}
.ccd-header .ccd-header-logo {
	width: 100%;
	display: flex;
	height: 75px;
	padding: 0;
	justify-content: center;
	cursor: pointer;
}
.ccd-header .ccd-header-logo img {
	width: 150px;
	height: auto;
}
.ccd-header nav {
	height: 75px;
	margin-top: 1rem;
}
.ccd-header nav .ccd-header-responsive-btn {
	display: none;
	cursor: pointer;
}
.ccd-header nav .ccd-header-responsive-btn .is-closed {
	display: flex;
}
.ccd-header nav .ccd-header-responsive-btn .is-open {
	display: none;
}
.ccd-header nav .ccd-header-responsive-btn .is-closed,
.ccd-header nav .ccd-header-responsive-btn .is-open {
	width: 20px;
	height: 20px;
}
.ccd-header nav .ccd-header-responsive-btn .is-closed img,
.ccd-header nav .ccd-header-responsive-btn .is-open img {
	width: 100%;
	height: auto;
}
.ccd-header nav ul {
	padding-right: 25px;
	height: 52px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}
.ccd-header nav ul li {
	border-top: 1px solid #fff;
	display: flex;
	padding: 10px;
	justify-content: center;
	position: relative;
	flex-direction: column;
	vertical-align: middle;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.ccd-header nav ul li a {
	letter-spacing: 1px;
	font-size: 1.1rem;
}
.ccd-header nav ul li::after {
	content: '';
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	position: absolute;
	bottom: 45%;
	width: 100%;
	left: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.ccd-header nav ul li:hover::after {
	border-bottom: 1px solid #fff;
	bottom: 28%;
	width: 90%;
	left: 5%;
}
.ccd-header.scroll-nav {
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	color: white;
	z-index: 9999;
	display: none;
	margin-top: 46px;
	flex-flow: row;
	justify-content: space-between;
}
.ccd-header.scroll-nav .ccd-header-logo {
	width: 170px;
	display: flex;
	height: 75px;
	padding: 5px 5px 5px 20%;
	justify-content: center;
}
.ccd-header.scroll-nav .ccd-header-logo img {
	width: auto;
	height: auto;
}
.ccd-header.scroll-nav nav {
	height: auto;
	margin-top: 0;
}
.ccd-header.scroll-nav nav ul {
	justify-content: end;
	height: 75px;
}
.ccd-header.scroll-nav nav ul li {
	border-top: 1px solid transparent;
}
@media (max-width: 1200px) {
	.ccd-header nav ul li a {
		letter-spacing: 0.9px;
		font-size: 0.9rem;
	}
}
@media (max-width: 980px) {
	.ccd-header {
		flex-flow: row;
		justify-content: space-between;
		background-color: #000;
	}
	.ccd-header.open nav .ccd-header-responsive-btn .is-closed {
		display: none;
	}
	.ccd-header.open nav .ccd-header-responsive-btn .is-open {
		display: flex;
	}
	.ccd-header.open nav ul {
		display: flex;
		opacity: 1;
		min-height: 100vh;
		top: 75px;
		padding-top: 2rem;
	}
	.ccd-header.open nav ul li {
		padding: 15px;
	}
	.ccd-header.open nav ul li::after {
		content: none !important;
	}
	.ccd-header.open nav ul li:hover a {
		opacity: 0.8;
	}
	.ccd-header.open nav ul li a:after {
		content: '';
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		position: absolute;
		bottom: 45%;
		width: 100%;
		left: 0;
		transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
	}
	.ccd-header .ccd-header-logo {
		width: 170px;
		display: flex;
		height: 75px;
		padding: 5px 5px 5px 20%;
		justify-content: center;
	}
	.ccd-header nav {
		height: 75px;
		margin-top: 0;
		display: flex;
		justify-content: center;
		flex-flow: column;
		flex-basis: 60px;
	}
	.ccd-header nav .ccd-header-responsive-btn {
		display: flex;
		padding: 5px 20% 5px 5px;
	}
	.ccd-header nav ul {
		display: none;
		opacity: 0;
		background-color: #000;
		position: absolute;
		right: 0;
		left: 0;
		flex-flow: column;
		justify-content: flex-start !important;
	}
	.ccd-header nav ul li {
		text-align: center;
	}
	.ccd-header nav ul li a {
		letter-spacing: 1.5px;
		font-size: 1.5rem;
	}
}
